@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgba(245, 245, 245, 0.9);}

:focus, :active, a:focus, a:active {
  outline: none;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: none; }

input, button, textarea, select {

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0; }

input:invalid {
  box-shadow: none; }

input::-ms-clear {
  display: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, .button, input[type="button"], input[type=submit] {
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

ol, ul {
  list-style: none; }

/*main*/
body{
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  background: linear-gradient(33.68deg, #031722 11.14%, #0E1B48 82.55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #8BE8BB 0%, #3E4FE9 101.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 5%;
}
form{
  background: rgba(43, 110, 240, 0.29);
  border-radius: 10px;
  width: 55vw;
  margin-top: 5%;
  padding: 20px 47px;
  display: flex;
  flex-direction: column;
}
label{
  width: 45%;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
input{
  background: rgba(245, 245, 245, 0.9);
  border-radius: 10px;
  padding: 10px;
}
textarea{
  background: rgba(245, 245, 245, 0.9);
  padding: 15px 20px;
  border-radius: 10px;
  color: #0E1B48;
}
.inline input{
  width: 100%;
}
.inline select{
  width: 100%;
}
select, #date-select{
  font-weight: 400;
  padding: 15px 20px;
  background: rgba(245, 245, 245, 0.9);
  border-radius: 10px;
  color: #4b4655;
  margin-top: 7px;
}
#start-time, #end-time{
  margin: 0 10px;
  width: 40%;
}
option{
  color: #0E1B48;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.inline{
  display: flex;
  flex-direction: row;
}
.space-between{
  justify-content: space-between;
}
button{
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 12px 25px;
  margin-left: 30px;
}
.submit{
  background: #3E4FE9;
}
.clear{
  background: rgba(117, 124, 152, 0.49);
}
.flex-end{
  justify-content: flex-end;
}

/*responsive*/

@media (max-width: 768px) {
  body{
    font-size: 14px;
  }
  form{
    width: 90vw;
  }
  h1{
    font-size: 27px;
  }
  .inline{
    flex-direction: column;
  }
  label{
    width: 100%;
  }
  #start-time, #end-time {
    width: inherit;
  }
  button{
    margin:5px 0 5px 0;
  }
}
