@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

:focus, :active, a:focus, a:active {
  outline: none;
  color: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100%;
  min-height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: none; }

input, button, textarea, select {

  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0; }

input:invalid {
  box-shadow: none; }

input::-ms-clear {
  display: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, .button, input[type="button"], input[type=submit] {
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal; }

ol, ul {
  list-style: none; }

/*main*/
body{
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  background: linear-gradient(33.68deg, #031722 11.14%, #0E1B48 82.55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
form{
  background: rgba(43, 110, 240, 0.29);
  border-radius: 10px;
}
.App {
}

.form {
}

.form-item {
}

.form__label {
}
